:root {
    --grayDark: #6c757d;
    --themeColor: rgb(230, 76, 60);
    --themeColorAlpha1: rgba(230, 76, 60, 0.6);
    --themeColorAlpha2: rgba(230, 76, 60, 0.8);
    --themeColorAlpha3: rgba(230, 76, 60, 0.16);
    --themeColorAlpha4: rgba(230, 76, 60, 0.23);
}

body {
    margin: 0;
    padding: 0;
}

.themeLetter:first-letter {
    color: var(--themeColor);
}

.btn {
    color: var(--grayDark);
    border-color: var(--grayDark);
    transition: 0.4s all ease-in-out;
}

.btn:hover {
    color: #fff;
    border-color: var(--themeColor);
    background-color: var(--themeColor);
}

button:focus,
.btn[type="text"]:focus,
button.btn:focus,
.btn:active,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: var(--themeColorAlpha2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--themeColorAlpha1);
    outline: 0 none !important;
}

.searchBook {
    color: grey;
    padding: 40px;
    font-size: 32px;
    margin: 0 0 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    transition: 0.4s all ease-in-out;
    box-shadow: 0 3px 6px var(--themeColorAlpha3), 0 3px 6px var(--themeColorAlpha4);
}

.searchBook h2 {
    font-size: 15px;
    text-align: left;
}

@media only screen and (max-width: 575px) {
    .searchBook h2 {
        font-size: 12px;
    }
}